doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name="title" content="Сервисный центр Астрахань, ул. Савушкина, 43")
    meta(name="Title" content="Сервисный центр Астрахань, ул. Савушкина, 43")
    meta(name="description" content="Мы занимаемся ремонтом оргтехники, бытовой и цифровой техники. В числе наших услуг — заказные сборки ПК, диагностика, чистка и ремонт компьютерной техники. Наши мастера могут выполнять работы на дому у клиента или принимать технику в офисе для ремонта по адресу ул. Савушкина, д. 43")
    meta(name="Description" content="Мы занимаемся ремонтом оргтехники, бытовой и цифровой техники. В числе наших услуг — заказные сборки ПК, диагностика, чистка и ремонт компьютерной техники. Наши мастера могут выполнять работы на дому у клиента или принимать технику в офисе для ремонта по адресу ул. Савушкина, д. 43")
    meta(name="keywords" content="сервисный центр, астрахань, ремонт техники, ремонт бытовой техники, ремонт оргтехники, ремонт")
    meta(name="author", content="Сервисный центр HighLevel Астрахань, ул. Савушкина, 43")
    meta(name="copyright", content="© 2024 HighLevel")
    meta(name="copyright", content="© 2024 HighLevel")
    meta(property="og:title", content="Сервисный центр HighLevel Астрахань, ул. Савушкина, 43")
    meta(property="og:description", content="Мы занимаемся ремонтом оргтехники, бытовой и цифровой техники. В числе наших услуг — заказные сборки ПК, диагностика, чистка и ремонт компьютерной техники. Наши мастера могут выполнять работы на дому у клиента или принимать технику в офисе для ремонта по адресу ул. Савушкина, д. 43")
    meta(property="og:image", content="/static/images/adv.png")
    meta(name="twitter:card", content="/static/images/adv.png")
    meta(name="twitter:description", content="Мы занимаемся ремонтом оргтехники, бытовой и цифровой техники. В числе наших услуг — заказные сборки ПК, диагностика, чистка и ремонт компьютерной техники. Наши мастера могут выполнять работы на дому у клиента или принимать технику в офисе для ремонта по адресу ул. Савушкина, д. 43")
    meta(name="twitter:image", content="/static/images/adv.png")
    meta(name="twitter:image", content="/static/images/adv.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="theme-color" content="#E6E6E6")
    meta(name="color-scheme" content="light")
    meta(name="google-site-verification" content="_LK-qy9q9qbZf0cq9zBj-oJI8u4d003lyloPZ88R_8Y")
    meta(name="wot-verification" content="da2b7a6d2132fbbe53804219fff62bd5")
    meta(name="yandex-verification" content="7c9d87b1c555607d")
    meta(name="zen-verification" content="xLfU77srGapYzbR5oDlvH4b3vUoJKFDL3dCG5KvlrnBYpeDkVfr0shutwUAYWD6M")
    title Service Center - Ремонт компьютеров, оргтехники, бытовой и цифровой техники, ул. Савушкина, 43
    script(src="/static/js/script.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    script(src="https://code.jquery.com/jquery-2.2.4.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js')
    script(src="https://vk.com/js/api/openapi.js?169" type="text/javascript")
    link(rel='icon' href='/static/images/icons/computer.png')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
    link(rel='stylesheet', href='/static/css/fancy.css')
    link(rel='stylesheet', href='/static/css/flickity.css')
    link(rel='stylesheet', href='/static/css/admin.css')
    link(rel='stylesheet', href='/static/css/main.css')
    link(rel='stylesheet', href='/static/css/secondary.css')
    link(rel='stylesheet', href='/static/css/bulma.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet")
    //- link(rel="icon" href="/static/images/favicon.ico")
html.theme-light(data-theme='light')
    block content
style.
    .is-highlevel {
        color: #ffffff;
        background-color: #fe8a1e;
    }

    .is-highlevel-text {
        color: #fe8a1e;
    }

    .is-highlevel-input {
        background-color: rgba(112, 67, 24, 0.9);
        border: 1px solid rgb(254, 138, 30, 1);
        color: #ffffff;
    }

    .is-highlevel-input::placeholder {
        color: #c8c3ab
    }

    html, body {
    }

script.
    // document.addEventListener('wheel', function (e) {
    //     e.preventDefault();
    // }, {passive: false});

    //- document.addEventListener('gesturestart', function (e) {
    //-   e.preventDefault(); // Блокирует жесты масштабирования
    //- });

    //- window.addEventListener('resize', function () {
    //-   if (window.outerWidth !== window.innerWidth) {
    //-     window.resizeTo(window.innerWidth, window.innerHeight); // Сбрасывает масштаб
    //-   }
    //- });

    //- // Блокировка масштабирования с помощью колесика мыши
    //- document.addEventListener('wheel', function (e) {
    //- if (e.ctrlKey) {
    //-     e.preventDefault(); // Блокирует масштабирование с помощью Ctrl + колесико мыши
    //- }
    //- }, { passive: false });

    //- // Блокировка масштабирования с помощью клавиш Ctrl + +/-
    //- document.addEventListener('keydown', function (e) {
    //- if ((e.ctrlKey === true || e.metaKey === true) && (e.key === '+' || e.key === '-' || e.key === '0')) {
    //-     e.preventDefault(); // Блокирует масштабирование с помощью Ctrl + +/-
    //- }
    //- });

    //- // Сброс масштаба при изменении размера окна
    //- window.addEventListener('resize', function () {
    //- if (window.outerWidth !== window.innerWidth || window.outerHeight !== window.innerHeight) {
    //-     window.resizeTo(window.innerWidth, window.innerHeight); // Сбрасывает масштаб
    //- }
    //- });